<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practice.commento.repository.Sample">
    <select id="getDtoList" resultType="Dto">
        select * from dto_table
    </select>

    <select id="getDto" resultType="Dto" parameterType="long">
        select * from dto_table where id = #{id}
    </select>

    <insert id="insertDto">
        insert into dto_table
        (
        title, content, writer
        )
        values
            (
             #{title},
             #{content},
             #{writer}
            )
    </insert>

</mapper>